@model EditPerson

@{
    ViewData["Title"] = "EditPerson";
}

<h1>Edit</h1>

<form asp-action="EditPerson" asp-controller="People" asp-route-id="@Model.Id" method="post">

    <label asp-for="CreatePerson.Name"></label>
    <input asp-for="CreatePerson.Name" />
    <span asp-validation-for="CreatePerson.Name"></span>

    <label asp-for="CreatePerson.PhoneNumber"></label>
    <input asp-for="CreatePerson.PhoneNumber" />
    <span asp-validation-for="CreatePerson.PhoneNumber"></span>


    <label asp-for="CreatePerson.CityList"></label>
    <select asp-for="CreatePerson.CityList">
        <option value="" disabled>Select a City</option>
        @foreach (City item in Model.CreatePerson.CityList)
        {
            <option value="@item">@item</option>
        }
    </select>
    <span asp-validation-for="CreatePerson.CityList"></span>

    @*<label asp-for="CreatePerson.CountryList"></label>
    <select asp-for="CreatePerson.CountryList">
        <option value="" disabled>Select a Country</option>
        @foreach (Country item in Model.CreatePerson.CountryList)
        {
            <option value="@item">@item</option>
        }
    </select>
    <span asp-validation-for="CreatePerson.CountryList"></span>*@


    <input type="submit" value="Save changes" />
</form>


//SqlException: The UPDATE statement conflicted with the FOREIGN KEY constraint
 "FK_People_Cities_CityId". 
The conflict occurred in database "PeopleDB", table "dbo.Cities", column 'Id'.