
@model PeopleViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of people</h1>

<partial name="../Shared/_PeoplePatialView" model="Model.PeopleList"/>


<h1>Enter name</h1>
<form asp-action="Index" asp-controller="People" method="post">
    <label asp-for="@Model.Search"></label>
    <input type="text" asp-for="@Model.Search" />
    <button>Search</button>
</form>

<h1>Create new person</h1>

<form asp-action="Create" asp-controller="People" method="post">
    <label asp-for="createPerson.Name"></label>
    <input asp-for="createPerson.Name" />

    <label asp-for="createPerson.PhoneNumber"></label>
    <input asp-for="createPerson.PhoneNumber" />
    <span asp-validation-for="createPerson.PhoneNumber"></span>

    <label asp-for="createPerson.CityName"></label>
    <<select asp-for="createPerson.CityName">

        <option value="">No City</option>

        @foreach (var item in Model.createPerson.CityList)
        {
            <option value="@item.Id">@item.CityName</option>
        }

    </select>
    <span asp-validation-for="createPerson.CityName"></span>

    <label asp-for="createPerson.CountryName"></label>
    <<select asp-for="createPerson.CountryName">

        <option value="">No Country</option>

        @foreach (var item in Model.createPerson.CountryList)
        {
            <option value="@item.Id">@item.CountryName</option>
        }

    </select>
    <span asp-validation-for="createPerson.CountryName"></span>

    <button>Create</button>
    <button type="reset">Reset</button>

</form>





