@model Person

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3"><p>@Model.Name</p></div>
            <div class="col-3"><p>@Model.PhoneNumber</p></div>
            <div class="col-3"><p>@Model.CityId</p></div>
            <div class="col-3">
                <a asp-action="Delete" asp-controller="People"
                   asp-route-id="@Model.Id">Delete</a>  |
                <a asp-action="ManagePersonLanguage" asp-controller="People"
                   asp-route-id="@Model.Id">Manage Person Language</a> |
                <a asp-action="EditPerson" asp-controller="People"
                   asp-route-id="@Model.Id">Edit Person</a>
            </div>
        </div>
    </div>
</div>